.form-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  margin-left: 40px;
}
#search-box {
  font: inherit;
  padding-left: 10px;
  height: 50px;
  max-width: 320px;

  border-radius: 15px;
  border: 2px solid #212121;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  outline: none;
} // @import '~node_modules/modern-normalize/modern-normalize.css';

.site-nav_link {
  margin: 40px 0 0 40px;
  display: inline-block;
}
h1 {
  margin: 20px 0 0 40px;
}
.js-card {
  margin-top: 20px;
  margin-left: 40px;
  display: inline-flex;
  flex-direction: column;
  padding: 10px 35px;
  gap: 10px;

  background-color: #efefef;
  border-radius: 15px;
  border: 2px solid #212121;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.js-card-top {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 25px;
}

.js-card-img {
  width: 150px;
  height: auto;
}

.js-card-title {
  font-size: 50px;
  margin: 0;
}

.js-card-text {
  font-size: 20px;
  letter-spacing: 1.5px;
}

.js-card-span {
  font-weight: 900;
  letter-spacing: 1.5px;
}
