.card-img-top {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 15px 10px;
  border-radius: 15px;
  border: 2px solid #212121;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  outline: none;
}
